* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --overlay-color: rgba(0, 0, 0, .7);
  --dialog-color: #e9ecef;
  --dialog-border-radius: 20px;
  --icon-color: rgba(73, 80, 87, .6);
  --dialog-padding: 20px;
  --drag-over-background: #e3e5e8;
}

.file-container {

  font-family: sans-serif;
  font-size: 13pt;
  color: #4d4d4d;
  
  .file-overlay {
     position: fixed;
     width: 100vw;
     height: 100vh;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 10;
     background-color: var(--overlay-color);
  }
  
  .file-wrapper {
     position: fixed;
     display: block;
     width: 70vw;
     height: 80vh;
     max-height: 500px;
     min-height: 400px;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: auto;
     background-color: var(--dialog-color);
     z-index: 20;
     border-radius: var(--dialog-border-radius);
     padding: var(--dialog-padding);

     .file-input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        z-index: 10;
        cursor: pointer;
        opacity: 0;

        &--active + .file-content {
           background: var(--drag-over-background);
        }
        
        &--active + .file-content .file-icon {
           opacity: .5;
        }
        
        &--active + .file-content .file-icon i {
           animation-name: bounce;
           animation-duration: .6s;
           animation-iteration-count: infinite;
           animation-timing-function: ease;
        }
        
        &--active + .file-content .file-icon .icon-shadow {
           animation-name: shrink;
           animation-duration: .6s;
           animation-iteration-count: infinite;
        }
     }
     
     .file-content {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        border: 8px dashed var(--icon-color); 
        border-radius: var(--dialog-border-radius);
        transition: .2s;

        .file-infos {
           position: absolute;
           display: flex;
           width: 50%;
           height: 50%;
           min-width: 400px;
           min-height: 202px;
           top: 0;
           right: 0;
           bottom: 0;
           left: 0;
           margin: auto;
           flex-direction: column;
           justify-content: center;

           .file-icon {
              position: relative;
              width: 100%;
              height: 100%;
              margin: 0;
              color: var(--icon-color);
              background-color: #f1f1f1;
              border-radius: var(--dialog-border-radius);
              padding: var(--dialog-padding);
              box-shadow: inset 0px 0px 6px 0px #ccc;
              transition: .2s;

              i {
                 margin-bottom: 20px;
                 width: 100%;
              }
              
              .icon-shadow {
                 position: relative;
                 display: block;
                 width: 95px;
                 height: 7px;
                 border-radius: 100%;
                 background-color: var(--drag-over-background);
                 top: -17px;
                 margin-left: auto;
                 margin-right: auto;
              }
              
              & > span {
                 position: absolute;
                 bottom: var(--dialog-padding);
                 width: calc(100% - var(--dialog-padding) * 2);
                 
                 span {
                    display: none;
                 }
                 
                 .has-drag {
                    display: inline;
                 }
              }
              
              i, span {
                 display: block;
                 text-align: center;
                 text-transform: uppercase;
                 font-weight: bold;
              }
           }
        }

        .file-name {
           position: absolute;
           width: 100%;
           text-align: middle;
           left: 0;
           bottom: var(--dialog-padding);
           right: 0;
           font-weight: bold;
           font-size: 15pt;
           margin: auto;
           text-align: center;
        }

     }
  }
}

@keyframes bounce {
  0% {
     transform: translateY(0px);
  }
  
  50% {
     transform: translateY(-15px);
  }
  
  100% {
     transform: translateY(0px);
  }
}

@keyframes shrink {
  0% {
     width: 95px;
  }
  
  50% {
     width: 75px;
  }
  
  100% {
     width: 95px;
  }
}