<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send File</title>
    <link rel="stylesheet" href="/bs/css/bootstrap.min.css">

</head>

<body>

    <div class="jumbotron">
        <div class="container">
            <form action="" class="form-inline">
                <div class="custom-file text-dark ">
                    <input type="file" class="custom-file-input " id="input">
                    <label class="custom-file-label" for="input">Choose File</label>
                </div>
            </form>
            <button onclick="upload()" class="btn btn-outline-primary btn-lg btn-block mt-4">Send</button>
        </div>

    </div>

    <div class="container">

        <div id="files">
        </div>
    </div>


    <script src="/bs/js/bootstrap.min.js"></script>
    <script src="/jquery.js"></script>
    <script src="/javascripts/sender.js"></script>

</body>

</html>