<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send File</title>
    <link rel="stylesheet" href="/bs/css/bootstrap.min.css">

    <style>
        body {
            background-color: whitesmoke;
            background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
            border-bottom: 0px solid black;
            height: 450px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* === Wrapper Styles === */
        #FileUpload {
            display: flex;
            justify-content: center;
        }

        .wrapper {
            margin: 30px;
            padding: 10px;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            border-radius: 10px;
            background-color: white;
            width: 415px;
        }

        /* === Upload Box === */
        .upload {
            margin: 10px;
            height: 85px;
            border: 8px dashed #e6f5e9;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }

        .upload p {
            margin-top: 12px;
            line-height: 0;
            font-size: 22px;
            color: #0c3214;
            letter-spacing: 1.5px;
        }

        .upload__button {
            background-color: #e6f5e9;
            border-radius: 10px;
            padding: 0px 8px 0px 10px;
        }

        .upload__button:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        /* === Uploaded Files === */
        .uploaded {
            width: 375px;
            margin: 10px;
            background-color: #e6f5e9;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .file {
            display: flex;
            flex-direction: column;
        }

        .file__name {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            width: 300px;
            line-height: 0;
            color: #0c3214;
            font-size: 18px;
            letter-spacing: 1.5px;
        }

        .fa-times:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        .fa-file-pdf {
            padding: 15px;
            font-size: 40px;
            color: #0c3214;
        }
    </style>


</head>

<body>
    <div id="FileUpload">
        <div class="wrapper">
            <form>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="input">
                    <label class="custom-file-label" for="input">Choose file</label>
                </div>
            </form>
            <button onclick="upload()" class="btn btn-success mt-2 ">Send</button>

            <div id="files" class="mt-5"></div>
        </div>
    </div>

    <script src="/bs/js/bootstrap.min.js"></script>
    <!-- <script src="/jquery.js"></script> -->

    <script src="/jquery.js"></script>
    <script src="/javascripts/sender.js"></script>

</body>

</html>